.contact{
    background: linear-gradient(to right, #7C00FF, #0C8CF3);
    padding: 7% 10% 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 9), 0 6px 60px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;

    .left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .img-anime{
            width: 90%;
        }
    }

    .right{
        flex: 1;
        color: #fff;
        padding: 40px 40px 10px 80px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        // justify-content: center;

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .input{
                display: flex;
                flex-direction: row;
                gap: 10px;
                border: 1px solid #fff;
                padding: 10px;
                border-radius: 10px;

                .icon{
                    color: #fff;
                }

                input{
                    border: none;
                    resize: none;
                    outline: none;
                    background: transparent;
                    width: 100%;
                    padding: 0;
                }
                .text{
                    border: none;
                    resize: none;
                    outline: none;
                    background: transparent;
                    width: 100%;
                    padding: 0; 
                }
            }

              button{
                width: 200px;
                color: #fff;
                background: red;
                padding: 7px 20px;
                border-radius: 8px;
                border: none;
                resize: none;
                outline: none;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-size: 17px;
                font-weight: bold;
              }
    
        }
    }

}

@media (max-width:1010px){
    .contact{
        background: linear-gradient(to bottom, #7C00FF, #0C8CF3);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
        
        .right{
            // padding: 10px;
            form{
                .input{
                    // max-width: 100%;
                    width: 240px;
                }
            }
        }
    }
}

  @media (min-width: 500px) and (max-width: 1010px) {
    .contact{        
        .right{
            form{
                .input{
               
                    width: 410px;
                }
            }
        }
    }

  }
